@import '~payload/scss';

$color-dark-red: rgb(160, 34, 34);
$style-stroke-width-m: 4px;

.add-color.btn {
  background-color: #9494947a;
  padding: 7px 10px 7px 7px;
  p{
    padding-top: 2px;
    margin: 0;
  }
}

.custom-color-picker {
  &__colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

  }

  &__btn.btn {
    margin: base(.25);

    &:first-of-type {
      margin-left: unset;
    }
  }

  &__input {
    // Payload exports a mixin from the vars file for quickly applying formInput rules to the class for our input
    @include formInput;
    height:70px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}


.chip {
  border-radius: 50%;
  border: $style-stroke-width-m solid rgba(208, 244, 255);
  height: base(1.7);
  width: base(1.7);
  margin-right: base(.5);
  box-shadow: none;

  &--selected {
    box-shadow: 0 0 0 $style-stroke-width-m $color-dark-red;
  }

  &--clickable {
    cursor: pointer;
  }
}